# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages that Data Scientists use.
- List commonly used libraries used by Data Scientists.
- some arithmetic expressions used in python.

Some of the popular languages that Data Scientists use are:

1. Python.
2. R.
3. SQL.

Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow.
2. NumPy.
3. SciPy.
4. Pandas.
5. Matplotlib.

| Data Science Tools |
| -------------|
| Apache Spark|
| R Studio |
| weka |

### Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [15]:
# This will convert 200 minutes to hours by diving by 60
total_minutes = 200
hours = total_minutes // 60
minutes = total_minutes % 60
time = "{}:{}".format(hours, minutes)
print(time)

3:20

## Author
Pius C. Onochie